<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <h1>Bem vindo a página de clintes >:(</h1>
    <hr>
    
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
            <th>Nome:</th>
             <th>CPF:</th>
            <th>Endereço:</th>
            </tr>
            </thead>
            <tbody>
            <!-- FOREACH -->
            <% clientes.forEach(clientes => { %>
            <tr>
                <td>Nome:<%= clientes.nome %></td> 
                <td>CPF: <%= clientes.CPF %> </td>
                <td>Endereço: <%= clientes.endereco %></td> 
            </tr>
        <% }) %>  
            </tbody>
        </table>
    <a href="/">Voltar</a>

  <%- include ('partials/footer.ejs') %>